<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgDev.IDE.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProgDev.IDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProgDev.IDE.Settings>
            <setting name="AppForm_SavedPositionExists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppForm_Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="AppForm_Size" serializeAs="String">
                <value>-1, -1</value>
            </setting>
        </ProgDev.IDE.Settings>
        <ProgDev.IDE.Properties.Settings>
            <setting name="AppForm_Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppForm_Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppForm_Width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppForm_Height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppForm_SavedPositionExists" serializeAs="String">
                <value>False</value>
            </setting>
        </ProgDev.IDE.Properties.Settings>
    </userSettings>
</configuration>